<div class="min-h-[80vh] py-4 md:py-8 px-4 md:px-12 bg-gray-100 transition duration-300 ease-in-out">
  <!-- Contenido Main -->
  <main class="grid grid-cols-1 lg:grid-cols-2 gap-6 pb-22 mt-8">

    <!-- Formulario de nueva tarea -->
    <section class="bg-gray-200 shadow-xl rounded-2xl p-8 text-gray-800">
      <h2 class="text-xl font-semibold mb-4">
        {{ isEditing ? 'Editar Tarea' : 'Crear Nueva Tarea' }}
      </h2>

      <form [formGroup]="taskForm" (ngSubmit)="addOrUpdateTask()">
        <input type="text" formControlName="title" placeholder="Título" aria-label="Título de la tarea"
          class="w-full p-3 border border-gray-400 rounded-lg mb-2 focus:outline-none focus:ring-2 focus:ring-gray-500 bg-gray-50 text-gray-900 " />
        <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="text-red-500 text-sm mb-2">
          * El título es obligatorio (mínimo 3 caracteres).
        </div>

        <textarea formControlName="description" placeholder="Descripción" aria-label="Descripción de la tarea"
          class="w-full p-3 border border-gray-400 rounded-lg mb-2 focus:outline-none focus:ring-2 focus:ring-gray-500 bg-gray-50 text-gray-900"
          rows="5"></textarea>
        <div *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched"
          class="text-red-500 text-sm mb-2">
          * La descripción no puede superar los 50 caracteres.
        </div>

        <button type="submit" [disabled]="taskForm.invalid"
          class="w-full cursor-pointer py-2 px-4 rounded-lg shadow-md text-white font-semibold
                  {{ isEditing ? 'bg-blue-600 hover:bg-blue-700 ' : 'bg-gray-600 hover:bg-gray-700' }} disabled:opacity-50 disabled:cursor-not-allowed">
                  {{ isEditing ? 'Guardar Cambios' : 'Agregar Tarea' }}
        </button>

        <button *ngIf="isEditing" type="button" (click)="resetForm()"
          class="w-full mt-2 py-2 px-4 rounded-lg shadow-md bg-red-500 hover:bg-red-600 text-white font-semibold cursor-pointer">
          Cancelar Edición
        </button>
      </form>
    </section>

    <!-- Lista de seleccion de tareas (Filtro) -->
    <section class="bg-gray-200 shadow-lg rounded-2xl p-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Mis Tareas</h2>

      <!-- Filtros -->
      <div class="mb-4 flex flex-wrap gap-2">
        <button (click)="selectFilter(TaskFilter.All)"
          [ngClass]="{'bg-blue-600': activeFilter === TaskFilter.All, 'bg-gray-400': activeFilter !== TaskFilter.All}"
          class="px-4 py-1 text-white rounded-full cursor-pointer transition-all">
          Todas
        </button>
        <button (click)="selectFilter(TaskFilter.Completed)"
          [ngClass]="{'bg-green-600': activeFilter === TaskFilter.Completed, 'bg-gray-400': activeFilter !== TaskFilter.Completed}"
          class="px-4 py-1 text-white rounded-full cursor-pointer transition-all">
          Completadas
        </button>
        <button (click)="selectFilter(TaskFilter.Pending)"
          [ngClass]="{'bg-amber-600': activeFilter === TaskFilter.Pending, 'bg-gray-400': activeFilter !== TaskFilter.Pending}"
          class="px-4 py-1 text-white rounded-full cursor-pointer transition-all">
          Pendientes
        </button>
      </div>


      <!-- Lista de Tareas -->
      <ul class="space-y-4 overflow-auto max-h-[60vh] pr-2">
        <li *ngFor="let task of filteredTasks(); trackBy: trackById"
          class="flex items-center justify-between bg-gray-50 border border-gray-300 rounded-lg p-4 shadow-md hover:shadow-xl transition duration-200 ease-in-out">

          <div class="flex items-center">
            <input type="checkbox" [checked]="task.isCompleted" (change)="toggleTaskCompletion(task)"
              class="h-5 w-5 accent-green-600 ">

            <div class="ml-4">
              <h3 class="text-lg font-semibold text-gray-800">{{ task.title }}</h3>
              <p class="text-gray-600">{{ task.description }}</p>
            </div>
          </div>

          <div class="flex space-x-4">
            <button class="text-yellow-600 hover:text-yellow-800" (click)="editTask(task)">
              <span class="material-icons-outlined">edit</span>
            </button>
            <button class="text-red-600 hover:text-red-800" (click)="removeTask(task.id)">
              <span class="material-icons-outlined">delete</span>
            </button>
          </div>

        </li>
      </ul>

    </section>
  </main>
</div>
